
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

  body, html {
    height: 100%;
  }
  
  button {
    cursor: pointer;
  }

  .form-group , .form-groupf {
    @apply flex flex-col mb-2 w-full ;
  }

  .form-group label, .form-groupf label {
    @apply text-lg font-medium ;
  }

  .form-group input, .form-groupf input
{
  @apply block w-full px-2 py-1.5 border border-gray-300 rounded-md text-lg focus:border-zinc-800 outline-none;
}

.form-group select , .form-groupf select {
  @apply block w-full px-2 py-2 border border-gray-300 rounded-md cursor-pointer text-lg focus:border-zinc-800 outline-none;
}

.form-group input[type="date"],
.form-group input[type="file"] {
  @apply cursor-pointer ;
}

.subutton {
  @apply px-6 py-3 mt-4 mb-10 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition duration-200 cursor-pointer text-xl font-medium;
}

 